node_modules
dist
dist-ssr
*.local
.env
.env.*.local
# Incremental-build stamp written by ../build_app.py
.app_build_stamp

# Editor / OS
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea
*.log
npm-debug.log*
.vercel